<div id="announcementsContainer" class="scrollable-container">
    <!-- Loop through announcements array -->
    <div *ngFor="let ann of announcements; trackBy: trackByFn" class="announcement-section mt-2 p-3 shadow-sm" (click)="showFullAnnouncement(ann)">
      <div class="d-flex justify-content-between align-items-start">
        <h5 class="announcement-title mb-2">{{ ann.title }}</h5>
        <span class="announcement-date">{{ ann.created_at | date: 'medium' }}</span>
      </div>
      <p class="announcement-text mb-1">
        {{ ann.announcement | slice: 0: 30 }}
        <span *ngIf="ann.announcement.length > 30" class="text-primary cursor-pointer">
          ...
        </span>
      </p>
    </div>
  </div>
  