<mat-dialog-content>
  <div class="card announcement-card">
    <div class="card-header d-flex align-items-center">
      <mat-icon>announcement</mat-icon>
      <div>
        <strong class="me-2">{{ data.admin_name }}</strong> |
        <span class="text-muted">{{ data.created_at | date: 'medium' }}</span><br>
        <span class="me-2">{{ data.subject_name }}</span>
      </div>
    </div>
    <div class="card-body">
      <h5 class="card-title">{{ data.title }}</h5>
      <p class="card-text">{{ data.announcement }}</p>
    </div>
  </div>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-button (click)="closeDialog()">Close</button>
</mat-dialog-actions>
