<div class="container">
    <h2>Grades</h2>
    <blockquote class="blockquote mb-4 d-flex gap-3" style="border-bottom: 2px solid; border-bottom-color: black;"></blockquote>
    <table>
        <thead>
            <tr>
                <th>Subject</th>
                <th>1st Quarter</th>
                <th>2nd Quarter</th>
                <th>3rd Quarter</th>
                <th>4th Quarter</th>
                <!-- <th>Final Grade</th> -->
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let grade of grades">
                <td>{{ grade.subject_name }}</td>
                <td>{{ grade.First_Quarter }}</td>
                <td>{{ grade.Second_Quarter }}</td>
                <td>{{ grade.Third_Quarter }}</td>
                <td>{{ grade.Fourth_Quarter }}</td>
                <!-- <td>{{ (grade.First_Quarter + grade.Second_Quarter + grade.Third_Quarter + grade.Fourth_Quarter) / 4 | number:'1.0-2' }}</td> -->
            </tr>
            <!-- Average Grade Row -->
            <tr>
                <!-- <td><strong>Average Grade</strong></td>
                <td><strong>{{ calculateAverage('First_Quarter') | number:'1.0-2' }}</strong></td>
                <td><strong>{{ calculateAverage('Second_Quarter') | number:'1.0-2' }}</strong></td>
                <td><strong>{{ calculateAverage('Third_Quarter') | number:'1.0-2' }}</strong></td>
                <td><strong>{{ calculateAverage('Fourth_Quarter') | number:'1.0-2' }}</strong></td>
                <td><strong>{{ (calculateAverage('First_Quarter') + calculateAverage('Second_Quarter') + calculateAverage('Third_Quarter') + calculateAverage('Fourth_Quarter')) / 4 | number:'1.0-2' }}</strong></td> -->
            </tr>
        </tbody>
    </table>
</div>
