<!-- Preloader -->


<!-- Main content container -->
<div class="container">
  <h4 class="text-center">Student Grades</h4>
  <hr style="border: 2px solid black; margin-bottom: 20px;" />

  <!-- Table for 1st Semester -->
  <div *ngIf="hasSemester(1)">
    <h5>1st Semester</h5>
    <table class="table table-bordered">
      <thead class="thead-light">
        <tr>
          <th>Subject</th>
          <th>Midterm</th>
          <th>Final</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let grade of grades">
          <tr *ngIf="grade.semester === 1">
            <td>{{ grade.subject_name }}</td>
            <td>{{ grade.Midterm }}</td>
            <td>{{ calculateFinalGrade(grade) }}</td>
          </tr>
        </ng-container>
        <tr>
          <td colspan="2"><strong>General Average</strong></td>
          <td><strong>{{ calculateGeneralAverage(1) }}</strong></td>
        </tr>
      </tbody>
    </table>
  </div>

  <!-- Table for 2nd Semester -->
  <div *ngIf="hasSemester(2)">
    <h5>2nd Semester</h5>
    <table class="table table-bordered">
      <thead class="thead-light">
        <tr>
          <th>Subject</th>
          <th>Midterm</th>
          <th>Final</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let grade of grades">
          <tr *ngIf="grade.semester === 2">
            <td>{{ grade.subject_name }}</td>
            <td>{{ grade.Midterm }}</td>
            <td>{{ calculateFinalGrade(grade) }}</td>
          </tr>
        </ng-container>
        <tr>
          <td colspan="2"><strong>General Average</strong></td>
          <td><strong>{{ calculateGeneralAverage(2) }}</strong></td>
        </tr>
      </tbody>
    </table>
  </div>

  <!-- Table for Null Semester -->
  <div *ngIf="hasNullSemester()">
    <h5>Subjects</h5>
    <table class="table table-bordered">
      <thead class="thead-light">
        <tr>
          <th>Subject</th>
          <th>1st Quarter</th>
          <th>2nd Quarter</th>
          <th>3rd Quarter</th>
          <th>4th Quarter</th>
          <th>Final</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let grade of grades">
          <tr *ngIf="grade.semester === null">
            <td>{{ grade.subject_name }}</td>
            <td>{{ grade.First_Quarter }}</td>
            <td>{{ grade.Second_Quarter }}</td>
            <td>{{ grade.Third_Quarter }}</td>
            <td>{{ grade.Fourth_Quarter }}</td>
            <td>{{ calculateFinalGrade(grade) }}</td>
          </tr>
        </ng-container>
        <tr>
          <td colspan="5"><strong>General Average</strong></td>
          <td><strong>{{ calculateGeneralAverage(null) }}</strong></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
