<div class="container-fluid">
  <div class="banner">
    <!-- Text Content on the Left -->
    <div class="text-content">
      <div class="date ms-3">{{ currentDay }}, {{ currentDate }}</div>
      <h1 class="welcome-message ms-2">{{ getGreeting() }} {{ fname }} {{ lname }}!</h1>
    </div>
    <!-- Image on the Right -->
    <div class="illustration">
      <img src="aaa.png" alt="Illustration" class="img-fluid w-100">
    </div>
  </div>
  <div class="row messenger-container">
    <!-- Sidebar -->
    <div class="col-12 col-md-3 col-lg-2 p-0 sidebar">
      <div class="students-container" *ngFor="let parent of parents">
        <h4 class="m-3">Children</h4>
        <div class="student-item" *ngFor="let student of parent.students" (click)="selectStudent(student)" style="cursor: pointer;">
          <img src="profile.jpg" alt="User" class="rounded-circle me-1" width="40" height="40">
          <span class="student-name">{{ student.fname }} {{ student.lname }} {{ student.mname ? student.mname : '' }}</span>
        </div>
      </div>
      <h5 class="m-3">Announcements</h5>
      <!-- announcement section -->
      <app-announcement [announcements]="announcements"></app-announcement>
    </div>

    <!-- Main Content -->
    <div class="col-12 col-md-9 col-lg-10 p-0 mt-3 main-content">
      <div class="chat-header d-flex align-items-center">
        <div class="child-info">
          <h3>{{ selectedStudent.fname }} {{ selectedStudent.mname }} {{ selectedStudent.lname }}</h3>
          <p>LRN: {{ selectedStudent.LRN || 'N/A' }}</p>
          <p>
            Section/Strand: 
            {{ selectedStudent.section?.strand !== '-' ? selectedStudent.section?.strand : '' }}
            {{ selectedStudent.section?.section_name }}
          </p>
          
          <p>Grade Level: {{ selectedStudent.section?.grade_level }}</p>
        </div>
      </div>

      <!-- Navbar for tabs -->
      <nav class="navbar-container">
        <ul class="navbar nav">
          <li class="navbar-list">
            <a 
              class="navlink" 
              (click)="navigateToFinance()" 
              [ngClass]="{'active': activeLink === 'finance'}">
              <i class="bi bi-wallet-fill"></i> Financial Statement
            </a>
          </li>
          <li class="navbar-list">
            <a 
              class="navlink" 
              (click)="navigateToGrades()" 
              [ngClass]="{'active': activeLink === 'grades'}">
              <i class="bi bi-award"></i> Grades
            </a>
          </li>
          <li class="navbar-list">
            <a 
              class="navlink" 
              (click)="navigateToAttendance()" 
              [ngClass]="{'active': activeLink === 'attendance'}">
              <i class="bi bi-activity"></i> Attendance Report
            </a>
          </li>
        </ul>
      </nav>
      <!-- Content for each section -->
      <div class="content-section">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
