body, html {
  height: 100%;
  margin: 0;
  font-family: Arial, sans-serif;
}

.messenger-container {
  display: flex;
  height: 100%;
}

.sidebar {
  flex: 0 0 340px;
  border-right: 1px solid #ddd;
  overflow-y: auto;
}

.main-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: white;
}

.chat-header {
  padding: 10px;
  border-bottom: 1px solid #ddd;
  display: flex;
  align-items: center;
}

.navbar-container ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

.navbar-list {
  margin: 0 10px;
  cursor: pointer;
}

.navlink {
  display: inline-block;
  padding: 10px 15px;
  color: #ffffff; /* Button text color */
  background-color: #5f5f5f; /* Button background color */
}

/* Announcement Styling */
.announcement-section {
  border: 1px solid #e0e0e0;
  border-radius: 10px;
  background-color: #f9f9f9;
  padding: 20px;
  margin-top: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: relative;
}

.announcement-title {
  font-weight: 600;
  font-size: 18px;
  color: #333;
}

.announcement-text {
  font-size: 16px;
  color: #555;
  line-height: 1.5;
}

.announcement-section:hover {
  background-color: #f0f0f0;
  transition: background-color 0.3s ease-in-out;
}

.shadow-sm {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.announcement-date {
  font-size: 14px;
  color: #888;
  font-style: italic;
  margin-left: auto;
  align-self: flex-start;
}
.scrollable-container {
  max-height: 500px; /* Set your desired height */
  overflow-y: auto; /* Enable vertical scrolling */
  overflow-x: hidden; /* Prevent horizontal scrolling */ /* Optional: Add a border for better visibility */
  padding: 10px; /* Optional: Add padding */
  border-radius: 5px; /* Optional: Rounded corners */
}
/* Hide scrollbar for WebKit browsers (Chrome, Safari, Opera) */
.scrollable-container::-webkit-scrollbar {
  display: none; /* Hides the scrollbar */
}

/* Hide scrollbar for Firefox */
.scrollable-container {
  scrollbar-width: none; /* Hides the scrollbar in Firefox */
}
.students-container {
  margin-top: 10px; /* Optional: Add some space above the container */
}

.student-item {
  padding: 10px; /* Add padding around each student item */
  display: flex; /* Use flexbox for alignment */
  align-items: center; /* Center items vertically */
  border-bottom: 1px solid #ccc; /* Add a line (divider) between items */
}

.student-item:last-child {
  border-bottom: none; /* Remove the divider for the last item */
}

.student-name {
  margin-left: 10px; /* Add space between the image and the name */
}
.preloader-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}