<div class="container" >
  <h3>Student Attendance Record</h3>
    <table class="table-responsive">
      <thead>
        <tr>
          <th>Months</th>
          <th *ngFor="let month of months">
            <button class="no-border-button" (click)="onMonthClick(month)" [attr.aria-label]="'View ' + month.viewValue + ' attendance'">
            {{ month.viewValue }}
            </button>
          </th>
          <th>TOTAL</th>
        </tr>
      </thead>
      <tbody>
      <tr>
        <td>Days of School</td>
        <td *ngFor="let month of months">{{ getDaysOfSchool(month.value) }}</td>
        <td>{{ getTotalDaysOfSchool() }}</td>
      </tr>
      <tr>
        <td>Days Present</td>
        <td *ngFor="let month of months">{{ getAttendanceForMonth(month.value) }}</td>
        <td>{{ getTotalDaysPresent() }}</td>
      </tr>
      </tbody>
      </table>
    </div>
  <div class="container" >
    <blockquote class="blockquote mb-4 d-flex gap-3" style="border-bottom: 2px solid; border-bottom-color: black;">
    <!-- Optional: Add any additional information or notes here -->
    </blockquote>
      <div class="row">
        <div class="col-md-12">
          <mat-card class="attendance-card">
            <mat-card-header class="d-flex">  
              <span>Legend:</span>  
              <div class="status-container">  
                <div class="no-record-container"></div><span>No Record</span>  
                <div class="late-container"></div><span>Late</span>  
                <div class="absent-container"></div><span>Absent</span>  
                <div class="present-container"></div><span>Present</span>   
              </div>  
            </mat-card-header>  
          <mat-card-content>
          <div class="calendar">
            <div class="calendar-header">
              <div *ngFor="let day of days" class="calendar-day">{{ day }}</div>
            </div>
            <div class="calendar-body">
              <div *ngFor="let dateinfo of calendarDates" [ngClass]="getAttendanceClass(dateinfo.attendanceStatus)" class="calendar-cell">
                <div class="date">{{ dateinfo.date | date: 'd' }}</div>
                <p>{{dateinfo.attendanceStatus}}</p>
              </div>
            </div>
          </div>
        </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>