.container {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    width: 300%;
    height: 300%; /* Ensure the container has height for vertical centering */
  }
  
  .responsive-image {
    max-width: 100%; /* Ensure the image is responsive */
    height: auto; /* Maintain the aspect ratio */
    object-fit: contain; /* Ensures the image fits inside the container without distortion */
    image-rendering: crisp-edges; /* Prevents pixelation when scaling */
  }

  :host {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-style: normal;
}