<div class="statement-container">
    <h2>Statement of Account (SOA) for Student</h2>
    <blockquote class="blockquote mb-4 d-flex gap-3" style="border-bottom: 2px solid; border-bottom-color: black;"></blockquote>
    <table class="statement-table">
        <thead>
            <tr>
                <th>Description</th>
                <th>Amount (PHP)</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Old Account</td>
                <td>0.00</td>
            </tr>
            <tr>
                <td>Tuition Fee</td>
                <td>16,143.55</td>
            </tr>
            <tr>
                <td>General and Miscalaneous Fees</td>
                <td>7,970</td>
            </tr>
            <tr>
                <td>Total Tuition fees (+old Account)</td>
                <td>24,114.41</td>
            </tr>
            <tr>
                <td>Less ESC</td>
                <td>9,000</td>
            </tr>
            <tr>
                <td>TOTAL BALANCE</td>
                <td>15,114.41</td>
            </tr>
        </tbody>
    </table>
</div>
